html {
	min-height: 100%;
}

body {
	background: url(/img/app_bg.jpg) no-repeat;
	background-size: cover;
}

form {
	background: rgba(0, 0, 0, 0.5);
}

form input {
	background-color: transparent;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #c0bab5;
  color: #fff;
  position: relative;
}

input:focus {
	outline: none;
}

.extended-day-item {
	border: 1px solid #fff;
	border-left: none;
	border-right: none;
	background: rgba(0, 0, 0, 0.5);
}

.extended-day-item-description {
	max-width: 125px;
}

.error {
  border-bottom: 1px solid #cc0000;
}

.fader {
  animation: fadein .3s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}